# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/

# Data
outputs/
data/raw/
data/processed/
data/
docs/
*.png

# Notebooks
.ipynb_checkpoints/

# Accelerate/W&B
logs/
wandb/

# OS
.DS_Store

# Environment variables
.env
*.env
.env*

# IDEs
.vscode/
.claude/
