# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/

# Data
outputs/
data/raw/
data/processed/
data/
docs/
*.png

# Notebooks
.ipynb_checkpoints/

# Accelerate/W&B
wandb/
logs/

# OS
.DS_Store

.env
*.env
.env*
